.spot-page {
    z-index: 0;
}

.review-create-panel {
    /* position: sticky; */
    /* display: flex; */
    /* top: 0px; */

    min-width: 220px;
    max-width: 400px;
    max-height: 540px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    box-sizing: border-box;
    background-color: white;
}

.review-create-prompt {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 22px;
}

.review-create-subtitle {
    margin: 0px;
    padding-bottom: 15px;
    font-size: 16px;
}

.textarea-field {
    min-width: 340px;
    max-width: 340px;
    min-height: 110px;
    max-height: 110px;
    border: 1px solid #afafaf;
    border-radius: 8px;
    margin-bottom: 10px;
}
.textarea-field::placeholder{
    color: #afafaf;
    font-size: 14px;
    text-indent: 3px;
}

.stars {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#stars-button {
    border: 1px solid #afafaf;
    background-color: white;
    border-radius: 80px;
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}
#stars-button:hover {
    cursor: pointer;
}

.output-field-stars {
    font-size: 18px;
    font-weight: 100;
    font-size: 22px;
}


#review-submit-button {
    min-width: 340px;
    max-width: 340px;
    height: 50px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    background-color: #ff385c;
    color: white;
    /* padding-top: 12px; */
}

#review-submit-button {
    cursor: pointer;
}
