.AllSpots-component {
    width: 100%;
    max-width: 1440px;

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:column;
    align-items: center;
}

.spots {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-grow: 3; */
    justify-content: center;
    align-items: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}

.spot-card {
    /* display: inline-block; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid red; */
    /* min-width: 330px; */
    max-width: 370px;
    min-height: 370px;
    max-height: 475px;
    margin: 25px 17px 10px 17px;
}

.spot-image-container {
    height: 300px;
    width: 300px
    /* max-height: 385px; */
}
.spot-image {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spot-text {
    align-self: end;
    display: inline;
    margin-top: 15px;
}

.spot-text-line-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.spot-location {
    margin-top: 0px;
}

#main-page-spot-rating {
    color: black;
}

.spot-price {
    margin-top: 10px;

}
