.full-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    min-height: 100vw;
    min-width: 100vw;
    gap: 0;
}

.left {
    grid-column: 1 / 2;
    background-image: linear-gradient(#d32877, #461ba1);
    align-items: center;
    vertical-align: center;
}

.host-welcome-message {
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: 550;
}

.right {
    grid-column: 2 / 3;
}

.hosting-exit-button {
    width: 60px;
    height: 34px;
    margin-top: 25px;
    margin-right: 12px;
    border: none;
    border-radius: 22px;
    background-color: #f7f7f7;
    font-size: 14px;
    font-weight: 900;
}

.hosting-exit-button:hover {
    cursor: pointer;
}

.hosting-manage-button {
    min-width: 275px;
    width: 90%;
    height: 80px;

    justify-content: center;
    margin-bottom: 18px;
    /* margin-top: 9px; */
    border: 1.5px solid #dddddd;
    background-color: white;
    border-radius: 8px;

    color: black;
    font-size: 16px;
}

.hosting-manage-button:active {
    text-decoration: none;
    color: black;
}

.hosting-manage-button:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.hosting-manage-button:visited {
    text-decoration: none;
    color: black;
}
