/****************** COMPONENT ******************/
.UserBookings-component {
    width: 100%;
    max-width: 1440px;

    margin: 0px;
    padding: 0px 20px;

    display: flex;
    flex-direction:column;
    align-items: center;
}


/****************** HEADER ******************/
.UserBookings-header {
    width: 100%;

    padding: 36px 0px 24px;

    font-size: 32px;
    font-weight: 700;
}


/****************** UPCOMING TRIPS ******************/
.UserBookings-upcoming-trips-container {
    width: 100%;

    padding: 24px 0px;
}
/***** NOT NULL *****/
.UserBookings-upcoming-trips-subtitle {
    margin-bottom: 23px;

    font-size: 22px;
    color: #222;
    font-weight: 700;
}
.UserBookings-card {
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

    display: flex;

    border-radius: 14px;
}
/* Text */
.UserBookings-card-text-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 24px;
    border-radius: 14px 0px 0px 14px;
}
.UserBookings-card-text-container > div {
    height: 100%;
}
.UserBookings-card-owner-info-container {
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.UserBookings-card-owner-info-container > span:first-of-type {
    margin-bottom: 3px;

    font-size: 26px;
    font-weight: 700;
}
.UserBookings-card-owner-info-container > span:last-of-type {
    font-size: 14px;
    font-weight: 100;
}
.UserBookings-card-spot-info-container {
    width: 100%;

    display: flex;
    align-items: center;

    margin-top: 16px;
}
.UserBookings-card-booking-dates-container {
    width: 85px;

    border-right: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #222;
    font-weight: 100;
}
.UserBookings-card-booking-dates-container > * {
    margin: 0px;
}
.UserBookings-card-booking-location-container {
    margin-left: 24px;

    display: flex;
    flex-direction: column;
}
.UserBookings-card-booking-location-container > * {
    margin: 0px;

    color: #222;
    font-weight: 100;
}
.UserBookings-card-booking-location-container > p:first-of-type {
    font-size: 18px;
}
.UserBookings-card-booking-location-container > p:last-of-type {
    font-size: 14px;
}
/* Image */
.UserBookings-card-image-container {
    width: 100%;
    height: 213px;
}
.UserBookings-card-image {
    width: 100%;
    height: 100%;

    border-radius: 0px 14px 14px 0px;
    object-fit: cover;
}

/* Null */
.upcomingBookingsCard-null {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.upcomingBookingsCard-null-text-container {
    grid-column: 1 / 2;
    /* background-color: aliceblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    padding: 32px;
    border: 1px solid #dddddd;
    border-right: 0px;
    border-radius: 8px 0px 0px 8px;
}
.upcomingBookingsCard-null-text-container > div:first-of-type {
    width: 68px;
    height: 68px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 0px 10px;
    /* padding: 0px; */
}
.hand-wave-icon {
    width: 190%;
    object-fit: cover;
}
.upcomingBookingsCard-null-text-container > span {
    margin: 0px 0px 8px;

    font-size: 18px;
    color: #222;
    font-weight: 700;
}
.upcomingBookingsCard-null-text-container > div:last-of-type {
    margin: 0px 0px 8px;

    font-size: 14px;
    color: #717171;
    font-weight: 100;
}
.start-searching-button {
    width: 160px;
    height: 48px;

    margin: 22px 0px 0px;
    border: 0px;
    border-radius: 8px;
    background-color: #ff385c;


    cursor: pointer;
}
.start-searching-button > a {
    font: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.upcomingBookingsCard-null-image-container {
    grid-column: 2 / 4;
    /* background-color: bisque; */

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    border-radius: 0px 8px 8px 0px;
}
.upcomingBookingsCard-null-image {
    width: 100%;
    height: 286.05px;
    object-fit: cover;

    padding: 0px;
    margin: 0px;
    border-radius: 0px 8px 8px 0px;
}

/****************** PAST TRIPS ******************/
.UserBookings-past-trips-container {
    width: 100%;

    padding: 24px 0px;
}
