/******************** COMPONENT ********************/
.UpdateBooking-component {
    width: 100%;

    margin: 0px;
    padding: 0px 0px 24px 24px;

    display: flex;
    flex-direction:column;
    align-items: center;
}


/******************** FORM ********************/

.UpdateBooking-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/********** Controlled Inputs **********/
.UpdateBooking-date-field-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#UpdateBooking-date-field-start {
    /* width: 160.66px; */
    width: 100%;
    height: 56px;

    border: 1px solid #afafaf;
    border-right: 0px;
    border-radius: 8px 0px 0px 0px;
    padding-left: 10px;

    cursor: pointer;
}
#UpdateBooking-date-field-end {
    /* width: 160.66px; */
    width: 100%;
    height: 56px;

    border: 1px solid #afafaf;
    border-radius: 0px 8px 0px 0px;
    padding-left: 10px;

    cursor: pointer;
}
#UpdateBooking-select-field {
    width: 100%;
    height: 56px;

    /* margin-bottom: 15px; */
    border: 1px solid #afafaf;
    border-top: 0px;
    border-radius: 0px 0px 8px 9px;
    padding-left: 10px;

    outline: none;
    cursor: pointer;
}
.UpdateBooking-reserve-button {
    min-width: 200px;
    width: 100%;
    /* width: 322.328px; */

    height: 48px;

    border: 0px;
    border-radius: 8px;
    background-color: #000;


    font: 16px;
    color: #fff;
    font-weight: 600;

    cursor: pointer;
}
.UpdateBooking-reserve-button:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.UpdateBooking-form > p {
    font-size: 14px;
    /* margin: 8px 0px 0px; */

    font-weight: 100;
}


/********** Fee itemization **********/
.UpdateBooking-itemization-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    font-size: 16px;
}

.UpdateBooking-itemization-subtotal-container > div {
    width: 100%;
    height: 22px;

    margin: 0px;
    padding: 0px 0px 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.UpdateBooking-subtotal-item {
    width: 100%;
    margin: 0px;
}

.UpdateBooking-itemization-total-container {
    width: 100%;
    padding-top: 12px;
    margin-top: 24px;
    border-top: 1px solid rgb(221, 221, 221);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 700;

}
