/* navlink:visited {
    text-decoration: none;
} */

.spots {
    display: flex;
}

.spot-card {
    border: 1px solid red;
    width: 150px;
    min-height: 225px;

    margin: 10px;
    padding: 4px;
}

.spot-image {
    border-radius: 8px;
    max-width: 100%;
    min-height: 100%;
}

.spot-name:visited {
    color: black
}
