.spots {
    display: flex;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.spot-card {
    /* border: 1px solid red; */
    width: 250px;
    min-height: 325px;

    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.spot-image {
    border-radius: 8px;
    min-width: 250px;
    min-height: 250px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.spot-text {
    align-self: end;
    display: grid;
    margin-top: 15px;
}

.spot-name {
    margin-bottom: 5px
}

.spot-description {
    margin-bottom: 12px
}
