.review-page {
    min-width: 650px;
    width: 770px;
    padding: 0px 20px;
}

.review-page-navigation {
    margin-top: 40px;
    font-size: 14px;
}

#UserReviewsPageTitle {
    color: #484848;
    font-size: 32px;
    font-weight: 900;
}

#reviews-subtitle {
    font-size: 16px;
    color: #767676;
    margin-top: 75px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dce0e0;
}

#UserReviewsTable {
    margin-bottom: 90px;
    gap: 0;
    border-collapse: collapse;
    width: 100%;
}

#UserReviewsTableHead {
    background-color: #edefed;
    border: 1px solid #dce0e0;
    height: 50px;
    font-size: 18px;
    font-weight: 100;
    color: #484848;
    text-align: left;
    text-indent: 24px;
}

#review-table-head-data {
    text-indent: 24px;
    color: #484848;
    border-bottom: 1px solid #dce0e0;
}

#review-table-body {
    border: 1px solid #dce0e0;
}

#reviewsToWriteTableBodyRow{
    height: 70px;
}

#reviewsToWriteTableBodyData {
    padding-left: 24px;
    font-size: 16px;
    font-weight: 100;
    color: #484848;
    height: 65px;
    width: 100%;
}

#pastReviewsTableBodyRow{
    height: 70px;
}

#pastReviewsTableBodyData{
    padding: 0px 24px;
    border-bottom: 1px solid #dce0e0;
    min-height: 700px;
}

#pastReviewSpotName {
    color: #484848;
    font-size: 20px;
    font-weight: 900;
}

#pastReviewText{
    color: #484848;
}

#pastReviewDateCreated {
    color: #767676;
    font-size: 14px;
    font-weight: 100;
}
