.spot-create-page {
    display: block;
    background-size: cover;

    margin: 0;
    border: 0;
    padding: 0;
}

.banner {
    height: 310px;
    background-image: linear-gradient(270deg, #d32877, #461ba1);
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.spot-create-title {
    color: white;
    font-size: 34px;
}


.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 70px 0px;
}


.input-field {
    width: 500px;
    height: 80px;
    border: 1px solid #afafaf;
    margin: 10px 0px;
    border-radius: 8px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 100;
    color: black;
}

/* .input-field ::placeholder {
    font-size: 18px;
    color: #afafaf;
    font-size: 18px;
    font-weight: 100;
} */

.input-field-select {
    margin: 10px 0px;
    width: 505px;
    height: 80px;
    border: 1px solid #afafaf;
    border-radius: 8px;
    text-indent: 14px;
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.input-field-text-prompt {
    font-size: 22px;
    margin: 10px 0px;
    border: 0;
    padding: 0;
    text-indent: 10px;
    align-self: flex-start;
}

.input-field-text-subtitle {
    margin-top: 0px;
    border: 0px;
    padding: 0px;
}

.input-field-textarea {
    margin: 10px 0px;
    min-width: 500px;
    max-width: 500px;
    max-height: 180px;
    min-height: 180px;
    border: 1px solid #afafaf;
    border-radius: 8px;
    font-size: 18px;
    color: black;
    font-weight: 100;
    text-indent: 10px;
    padding-top: 20px;
}

.price {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#price-button {
    border: 1px solid #afafaf;
    background-color: white;
    border-radius: 80px;
    width: 50px;
    height: 50px;
    margin: 0px 40px;
}
#price-button:hover {
    cursor: pointer;
}

.output-field-price {
    width: 295px;
    height: 80px;
    border: 1px solid #afafaf;
    margin: 10px 0px;
    border-radius: 8px;
    text-indent: 10px;
    color: #afafaf;
    font-size: 18px;
    font-weight: 100;
    padding-top: 20px;
    text-align: center;
}

.output-display-price {
    color: black;
    font-size: 48px;
    font-weight: 900;
}

::placeholder {
    color: #afafaf;
    font-size: 18px;
    font-weight: 100;
}

.spot-submit-button {
    width: 110px;
    height: 50px;
    margin: 10px 0px;
    border: 1.5px solid black;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: white;
    /* padding-top: 12px; */
}

.spot-submit-button {
    cursor: pointer;
}

.errors {
    color: red;
    margin: 0;
    border: none;
    padding: 10px 0px;
}

.error-item {
    color: red;
    margin: 0;
    border: none;
    padding: none;
}
