.spots-page {
    padding: 0px 50px;
}

.spots-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 30px;
}

.userSpotsPageTitle {
    color: #494949;
    font-size: 22px;
}

.createListingButton {
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    align-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    border: 1.5px solid #222222;
    border-radius: 8px;
    font-size: 14.5px;
    text-align: center;
}

.createListingButtonLink{
    text-decoration: none;
    color: black;
    font-weight: 900;
    vertical-align: start;
}

.userSpotsTable {
    gap: 0;
    border-collapse: collapse;
    width: 100%;
}

.userSpotsTableHead {
    border-bottom: 1.5px solid #f6f6f6;
    color: #717171;
    font-size: 14px;
    font-weight: 900;
}

.userSpotsTableHeadRow {
    border-collapse: collapse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

.userSpotsTableBodyRow {
    height: 65px;
    width: 100%;

    border-bottom: 1.5px solid #f6f6f6;

    display: flex;
    justify-content: space-around;
    align-items: center;


    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}

.userSpotsTableBodyRow:hover {
    /* background-color: #f7f7f7; */
}

.spotTableListingLink {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    color: black;
    text-decoration: none;
}

.spotTableListingContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.spotTableListingThumbnail{
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 12px;
}
.spotTableListingLinkText{
    text-decoration:"none";
    color:"#484848",
}

.spotTableManageListingButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-button {
    width: 70px;
    height: 40px;
    background: none;

    border: 1px solid #222222;
    border-radius: 8px;

    font-size: 14.5px;
    text-align: center;

    cursor: pointer;
}

.table-button:hover {
    background-color: #f7f7f7;
}

.spotTableListingLocation{
    text-align: center;
}
