/******************* COMPONENTS OF NAV BAR *******************/

/******************* NAV BAR ITSELF *******************/
.nav-bar {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid #f6f6f6;
    padding: none;

    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

/******************* LOGO HOME BUTTON *******************/
.logo {
    max-height: 55px;
    margin: none;
    border: none;
}

/******************* ACCOUNT BUTTON *******************/
.account-button {
    width: 88px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1.5px solid #dbdbdb;
    border-radius: 32px;
    background-color: white;
}

.account-button:hover {
    box-shadow: 0px 2px 5px 0px #dbdbdb;
    cursor: pointer;
}

#menu-icon {
    max-width: 16px;
    /* max-height: 15px; */
    padding-right: 2.5px;
}

#user-icon {
    max-width: 35px;
    max-height: 35px;
    padding-left: 2.5px;
}


/******************* DROPDOWN MENU (IE: CONTENTS WITHING ACCOUNT BUTTON) *******************/
.account-dropdown-menu {
    position: fixed;
    top: 70px;
    right: 45px;
    width: 270px;

    background-color: yellow;
    border-radius: 15px;
}

#logout-button {
    border: none;
    background: none;
    font-size: 30px
}

#logout-button:hover {
    border: none;
    background: red;
}
