/******************* COMPONENTS OF NAV BAR *******************/

/******************* NAV BAR ITSELF *******************/
.nav-bar {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    background-color: white;
    z-index: 0;

    margin: none;
    border-bottom: 2px solid #f6f6f6;
    /* border-bottom: 2px solid red; */
    padding: 0px 50px;

    height: 80px;
}

.nav-bar-right {
    display: flex;
}



/******************* LOGO HOME BUTTON *******************/
#crainbnb-logo {
    max-height: 55px;
    margin: 0;
    border: 0;
    padding: 0;
}


/******************* 'BECOME A HOST' BUTTON *******************/
.hosting-button {
    margin: 0px 5px;
    border: 0;
    border-radius: 32px;
    background-color: white;

    width: 145px;
    height: 48px;
    left: 0;

    font-size: 15px;
    font-weight: 900;
}

.hosting-button:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}


/******************* ACCOUNT BUTTON *******************/
.account-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1.5px solid #dbdbdb;
    border-radius: 32px;
    background-color: white;

    width: 88px;
    height: 48px;
}

.account-button:hover {
    box-shadow: 0px 2px 5px 0px #dbdbdb;
    cursor: pointer;
}
